<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998746943034-2ghr6gd1ddbg8b600j1daq37en1a9dg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998746943034-2ghr6gd1ddbg8b600j1daq37en1a9dg4</string>
	<key>API_KEY</key>
	<string>AIzaSyBGF10q879WNFSIwMMy4K8F71KX3lhRh7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>998746943034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.volunteertask</string>
	<key>PROJECT_ID</key>
	<string>volunteertask-428f8</string>
	<key>STORAGE_BUCKET</key>
	<string>volunteertask-428f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998746943034:ios:26e88e0c2e7f56c6384f03</string>
</dict>
</plist>